* { box-sizing: border-box; }
body {
    margin: 0;
    background-color: #ecf2f2;
    font-family: Quicksand, sans-serif;
}

.header {
    background-color: #3cc0b3;
    

}
img.logo-smartcounting {
    display: block;
    height: 4rem;
}

.main-body {
    display: flex;
    flex-direction: row;

    height: calc(100vh - 4rem);
}

.sidebar {
    display: flex;
    flex-direction: column;
    
    padding: 1rem 1.5rem;

    background-color: white;
}
.sidebar .titol-matic {
    padding: 1.5rem 1.5rem;
    font-size: 1.2rem;
    background-color: #2a3540;
    color: white;
    text-transform: uppercase;
    white-space: nowrap;
}
.sidebar button {
    background-color: transparent;
    padding: 1.75rem 0.5rem;
    border: none;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: inherit;
    text-align: start;
    white-space: nowrap;
    transition: background-color 0.1s, color 0.1s;
}
.sidebar hr {
    width: 100%;
    margin: 0;
    border: none;
    border-bottom: 2px solid #dddddd;
}
.sidebar button:hover {
    background-color: #2a3540;
    color: white;
}
.sidebar button.logout {
    color: #3cc0b3;
}

.content { }
.content img {
    margin-top: 3.5rem;
    margin-left: 4.5rem;
}
